[submodule "training/buildSrc/gradle-hts-voicebuilding-plugin"]
	path = training/buildSrc/gradle-hts-voicebuilding-plugin
	url = git@github.com:seblemaguer/gradle-hts-voicebuilding-plugin.git
[submodule "synthesis/utils/pyhts"]
	path = synthesis/utils/pyhts
	url = git@bitbucket.org:slemaguer/pyhts.git
[submodule "extraction/buildSrc/gradle-acoustic-parameter-extraction-plugin"]
	path = extraction/buildSrc/gradle-acoustic-parameter-extraction-plugin
	url = git@github.com:seblemaguer/gradle-acoustic-parameter-extraction-plugin.git
[submodule "training/buildSrc/gradle-hts-coefficients-packing-plugin"]
	path = training/buildSrc/gradle-hts-coefficients-packing-plugin
	url = git@github.com:seblemaguer/gradle-hts-coefficients-packing-plugin.git
